<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Aubrey" rel="stylesheet">
</head>
<body>
    <div class="ui fixed primary menu">
        <a href="/" class="fitted item" style="color:#928452; font-family:'Aubrey', cursive; font-size:26px; padding:5px">LINEAR A CORPUS</a>
        <div class="right menu">
            <a href="/create/" class="item">Create</a>
            <a href="/admin" class="item">
                <i class="sign out icon"></i>
                Admin site
            </a>
        </div>
    </div>
    <div class="ui one column grid container" style="padding-top:50px; width:723px; margin:auto; background:white; min-height: 100%">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>