{% extends 'base.html' %}

{% block content %}

<div class="column">
<div class="ui basic center aligned segment">
    <h1 style="color:#928452; font-family:'Aubrey', cursive; font-size:50px">Collection</h1>
     <form action="{% url 'search' %}" method="get" acept-charset="utf-8">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input class="prompt" type="text" placeholder="Search" name="query">
        </div>
        <button class="ui button" style="background-color:#928452; color:white" type="submit">Search</button>
    </form>
    <br>
    <form action="{% url 'material' %}" method="get" acept-charset="utf-8">
      <select class="ui selection dropdown" name="query" style="width:202px">
          <option value="">Material type</option>
          <option value="ZA">ZA</option>
          <option value="ZE">ZE</option>
          <option value="WC">WC</option>
        </select>
            <button class="ui button" style="background-color:#928452; color:white; width:85px" type="submit">Filter</button>
    </form>
    <h4>{{ search_text }}</h4>
</div>
<table class="ui stripped table">
    <thead>
        <th>Photo</th>
        <th>Drawing</th>
        <th>Transcription</th>
        <th>Name</th>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>
            <img src="{{item.photo.url}}" height="200px"/w>
        </td>
        <td>
            <img src="{{item.drawing.url}}" height="200px"/>
        </td>
        <td>
            <img src="{{item.transcription.url}}" height="200px"/>
        </td>
        <td>
            <div class="ui content">
                <div class="ui header"><a href="{%  url 'item_detail' item.id %}">{{ item.name }}</a></div>
                {{ item.location }}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}