{% extends 'base.html' %}

{% block content %}

<div class="column">
<div class="ui basic center aligned segment">
    <h1 style="color:#928452; font-family:'Aubrey', cursive; font-size:50px">Collection</h1>
</div>
<table class="ui stripped table">
    <thead>
        <th>Photo</th>
        <th>Drawing</th>
        <th>Transcription</th>
        <th>Name</th>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>
            <img src="{{item.photo.url}}" height="200px"/w>
        </td>
        <td>
            <img src="{{item.drawing.url}}" height="200px"/>
        </td>
        <td>
            <img src="{{item.transcription.url}}" height="200px"/>
        </td>
        <td>
            <div class="ui content">
                <div class="ui header"><a href="{%  url 'item_detail' item.id %}">{{ item.name }}</a></div>
                {{ item.location }}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}